<% name = current_user.present? ? current_user.name : 'New User' %>

<h1 style="text-align: center;">Welcome, <%= name %></h1>

<%# if user_signed_in? %>
  <%# @users.each do |user| %>
<!--    <p><%#= user.name %></p>-->
<!--    <p><%#= user.email %></p>-->
<!--    <p><%#= link_to 'Edit', edit_user_registration_path(user.id), method: :get, class: 'nav-link' %></p>-->
  <%# end %>
<%# end %>
